html {
  overflow: hidden;
}
#corona {
  opacity: 0;
}
aside.navigation-drawer {
  padding: 0;
  overflow-y: visible;
}
.navigation-drawer--permanent.navigation-drawer--clipped {
  max-height: calc(100vh);
  height: 100%;
}
nav .toolbar__title img {
  margin: 0;
  width: 50px;
  float: left;
}
nav v-title {
  margin: 5px 0px 0px 15px;
  float: left;
  line-height: 0.75;
}
nav .source {
  font-size: 12px;
  color: grey;
}
nav .disclaimer {
  font-size: 11px;
  font-style: italic;
  color: grey;
  width: 35%;
  margin-left: 5%;
  max-width: 450px;
}
nav .disclaimer a, nav .disclaimer a:hover, nav .disclaimer a:visited:hover {
  cursor: pointer;
  text-decoration: underline;
  color: grey;
}
.btn--floating.btn--small .icon {
  font-size: 30px;
}
.subheader {
  text-transform: uppercase;
  height: 28px!important;
  margin: 0;
  width: 100%;
  padding: 6px 0px 0px 6px;
}
.subheader.bordered {
  border-top: 1px solid #505050;
}
.subheader .icon {
  margin-right: 8px;
}
.subheader b {
  color: white;
}
#opendata {
  cursor: pointer;
  height: 34px!important;
}
.unchecked {
  opacity: 0.3;
}
.switchoption .list__tile__content {
  width: 40%;
}
.switchoption .list__tile__action {
  width: 20%;
}
.switcher {
  cursor: pointer;
}
.switcher.unchecked:hover {
  opacity: 1;
}
.scopefocus .input-group__selections__comma {
  text-decoration: underline dotted;
}
.menu__content .list {
  background-color: #555;
}
.menu__content .list li {
  padding: 0;
}
.menu__content .list li, .menu__content .list__tile {
  height: 36px;
}
.sort {
  height: 18px;
  margin: -4px 72px 12px 0px;
}
.sort small.unchecked {
  cursor: pointer;
}
.sort small.unchecked:hover {
  opacity: 1;
}
#countries {
  overflow-y: auto;
  border-bottom: 1px solid #505050;
}
.country {
  float: left;
}
#countries .country {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.value {
  float: right;
  text-align: right;
}
.amount {
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  white-space: nowrap;
}
.selectAll {
  position: absolute;
  right: 40px;
  top: 3px;
  z-index: 10;
  cursor: pointer;
  opacity: 0.5;
}
.keep {
  position: absolute;
  right: 3px;
  top: 10px;
  z-index: 10;
  opacity: 0.5;
  cursor: pointer;
}
.keep .icon {
 font-size: 14px!important;
}
.input-group__input .input-group__prepend-icon, .input-group.unselected .input-group__append-icon {
  color: white!important;
}
.input-group.unselected .input-group__append-icon {
  opacity: 0.2!important;
}
.input-group--select.input-group--focused .input-group__append-icon {
  transform: none!important;
}
.input-group__details {
  display: none!important;
}
.menu__content {
  max-height: 500px!important;
}
.chip {
  cursor: pointer;
}
.input-group--select .input-group__selections__comma {
  font-size: 13px;
  white-space: nowrap;
}
.list__tile--active, .input-group.input-group--focused:not(.unselected) .input-group__append-icon, .application--dark .input-group.input-group--dirty:not(.unselected) .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color: white;
}
.unselected .list__tile--active, .unselected .input-group.input-group--focused .input-group__append-icon, .application--dark .unselected .input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active), .input-group.unselected .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color: white!important;
  opacity: 0.2!important;
}
.input-group.input-group--text-field:not(.input-group--single-line):not(.input-group--error).input-group--focused label {
  color: white;
}
.switch {
  left: 25%;
}
.select, .radio-group--row {
  padding: 0;
}
.application--dark .input-group.radio:not(.input-group--error) label {
  font-size: 13px;
  margin-left: -5px
}
.lowercase {
  text-transform: none!important;
}
.svg {
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  display: grid;
}
#loader {
  position: relative;
  top: calc(40vh);
}
#loader span {
  padding-left: 15px;
  color: #909090;
  font-family: monospace;
}
path.line {
  stroke-width: 2px;
}
path.line.hover {
  stroke-width: 5px;
}
.histogram.hidden {
  display: none;
}
.axis path, .axis line, line.axis {
  stroke: grey;
}
.grid path {
  display: none;
}
.grid line {
  stroke: #494949;
}
line.track-inset {
  stroke: #555;
}
.dot {
  stroke: #303030;
}
.axis text, .parameter-value text {
  fill: grey;
  font-size: 14px;
  font-family: Roboto;
}
.zoomslider .axis text {
  fill: #555;
}
.zoomslider .parameter-value text {
  fill: #eee;
}
#legend {
  position: relative;
  bottom: 0;
  overflow-y: auto;
}
.legend.facets {
  padding: 15px;
}
.legend .btn {
  color: black!important;
  font-weight: bold;
  padding: 2px;
}
.legend .btn div {
  display: grid;
}
.legend .btn div.btn__content {
  margin: 0 8px;
}
.legend .btn .remove {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 4;
}
.legend .btn .remove .icon {
  font-size: 18px;
  color: black!important;
}
.legend.multiples {
  position: relative;
}
.legend.multiples .btn {
  position: absolute;
  left: 5px;
  height: auto;
  min-width: auto;
  border: 1px solid #303030;
  opacity: 1;
  padding: 2px 25px 2px 5px;
}
.legend.multiples .btn.inactive {
  padding: 2px 5px;
}
rect.tooltip {
  fill: black;
  fill-opacity: 0;
}
.tooltipBox {
  background: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  display: none;
  min-width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  font-size: 14px;
  z-index: 1000;
}
a, a:visited {
  color: #999;
  text-decoration: none;
}
a:hover, a:visited:hover {
  text-decoration: underline;
}
.selectAlign .input-group {
  max-width: 80px;
}
.selectAlign .input-group__selections__comma {
  margin: auto;
  text-decoration: underline dotted;
}
.selectAlign .chip {
  margin-left: auto;
  margin-right: 0;
}
#controls {
  padding-bottom: 0;
  margin-bottom: -14px;
}
#controls .radio-group {
  width: 30px;
}
#controls .radio-group label {
  display: none;
}
#controls .radiooption .radio-group label {
  display: flex;
}
#controls .input-group--disabled .input-group--selection-controls__ripple, #controls .input-group--disabled .input-group--selection-controls__ripple:after {
  cursor: default;
}
.caseIcon.list__tile__action, .extraaction.list__tile__action {
  display: contents;
}
.caseIcon.country {
  padding-left: 15px;
}
#scale .input-group__input {
  flex: 1 0 120%!important;
}
#scale .input-group.input-group--disabled {
  opacity: 0.5;
}
#scale .input-group.input-group--disabled label {
  cursor: initial;
}
#scale .extraaction.list__tile__action .icon {
  position: absolute;
  right: 5px;
}
#scale .logarithmic {
  margin-left: -10px;
}
#scale .daily {
  margin-left: 10px;
  margin-right: 30px;
}

@media (max-width: 1000px) {
  nav .toolbar__title img {
    margin-top: 2px;
    width: 60px;
  }
  nav v-title {
    font-size: 24px;
  }
  nav .source {
    font-size: 16px;
  }
  nav .source .update, .disclaimer {
    display: none;
  }
  .btn--floating.btn--small .icon {
    font-size: 40px;
  }
}
