html {
  overflow: hidden;
}
aside {
  height: 100%;
}
.navigation-drawer--permanent.navigation-drawer--clipped {
  max-height: calc(100vh);
}
.btn--floating.btn--small .icon {
  font-size: 30px;
}
.subheader {
  text-transform: uppercase;
  height: 26px!important;
  padding-bottom: 0;
  padding-top: 0;
}
.subheader b {
  color: white;
}
.unchecked {
  opacity: 0.3;
}
.countries {
  height: 45%;
  overflow-y: auto;
}
.country {
  float: left;
}
.value {
  float: right;
  text-align: right;
}
.amount {
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  white-space: nowrap;
}
.input-group__input .input-group__prepend-icon, .input-group.unselected .input-group__append-icon {
  color: white!important;
}
.input-group.unselected .input-group__append-icon {
  opacity: 0.2!important;
}
.input-group--select.input-group--focused .input-group__append-icon {
  transform: none!important;
}
.input-group:not(.unselected) .input-group__input .input-group__append-icon {
  color: #f44336!important;
}
.input-group__details {
  display: none!important;
}
.menu__content {
  max-height: 500px!important;
}
.chip {
  cursor: pointer;
}
.input-group--select .input-group__selections__comma {
  font-size: 14px;
  white-space: nowrap;
}
.list__tile--active, .input-group.input-group--focused:not(.unselected) .input-group__append-icon, .application--dark .input-group.input-group--dirty:not(.unselected) .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color: #f44336;
}
.unselected .list__tile--active, .unselected .input-group.input-group--focused .input-group__append-icon, .application--dark .unselected .input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active), .input-group.unselected .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color: white!important;
  opacity: 0.2!important;
}
.input-group.input-group--text-field:not(.input-group--single-line):not(.input-group--error).input-group--focused label {
  color: white;
}
.switch {
  left: 25%;
}
.select, .radio-group--row {
  padding: 0;
}
.application--dark .input-group.radio:not(.input-group--error) label {
  font-size: 13px;
  text-transform: capitalize;
  margin-left: -5px
}
.lowercase {
  text-transform: none!important;
}
.svg {
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  display: grid;
}
.axis path, .axis line {
  stroke: grey;
}
.axis text {
  fill: grey;
  font-size: 14px;
  font-family: Roboto;
}
.legend.facets {
  padding: 15px;
}
.legend button {
  color: black!important;
  font-weight: bold;
  min-width: 125px;
  padding: 2px;
  height: 50px;
}
.legend button div {
  display: grid;
}
.legend.comparable {
  position: relative;
}
.legend.comparable button {
  position: absolute;
  left: 5px;
  height: auto;
  min-width: auto;
  border: 1px solid #303030;
  opacity: 0.7;
}
rect.tooltip {
  fill: black;
  fill-opacity: 0;
}
.tooltipBox {
  background: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  display: none;
  min-width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  font-size: 14px;
  z-index: 1000;
}
.dialog a, .dialog a:visited {
  color: grey;
  text-decoration: none;
}
.dialog a:hover, .dialog a:visited:hover {
  text-decoration: underline;
}
