html {
  overflow: hidden;
}
#corona {
  opacity: 0;
}
aside.navigation-drawer {
  height: 100%;
  overflow: unset;
}
.navigation-drawer--permanent.navigation-drawer--clipped {
  max-height: calc(100vh);
}
nav .toolbar__title img {
  margin: 0;
  width: 50px;
  float: left;
}
nav v-title {
  margin: 5px 0px 0px 15px;
  float: left;
  line-height: 1;
}
nav .update {
  font-size: 12px;
  color: grey;
}
.btn--floating.btn--small .icon {
  font-size: 30px;
}
.subheader {
  text-transform: uppercase;
  height: 26px!important;
  padding-bottom: 0;
  padding-top: 5px;
  padding-left: 8px;
  margin-top: 0;
}
.subheader.bordered {
  border-top: 1px solid #505050;
}
.subheader b {
  color: white;
}
.unchecked {
  opacity: 0.3;
}
.switcher.unchecked {
  cursor: pointer;
}
.switcher.unchecked:hover {
  opacity: 1;
}
.sort {
  height: 18px;
  margin: -12px 72px 12px 0px;
}
.sort small.unchecked {
  cursor: pointer;
}
#countries {
  overflow-y: auto;
  border-bottom: 1px solid #505050;
}
.country {
  float: left;
}
.value {
  float: right;
  text-align: right;
}
.amount {
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  white-space: nowrap;
}
.keep {
  position: absolute;
  right: 3px;
  top: 10px;
  z-index: 10;
  opacity: 0.5;
  cursor: pointer;
}
.keep .icon {
 font-size: 14px!important;
}
.input-group__input .input-group__prepend-icon, .input-group.unselected .input-group__append-icon {
  color: white!important;
}
.input-group.unselected .input-group__append-icon {
  opacity: 0.2!important;
}
.input-group--select.input-group--focused .input-group__append-icon {
  transform: none!important;
}
.input-group__details {
  display: none!important;
}
.menu__content {
  max-height: 500px!important;
}
.chip {
  cursor: pointer;
}
.input-group--select .input-group__selections__comma {
  font-size: 14px;
  white-space: nowrap;
}
.list__tile--active, .input-group.input-group--focused:not(.unselected) .input-group__append-icon, .application--dark .input-group.input-group--dirty:not(.unselected) .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color: white;
}
.unselected .list__tile--active, .unselected .input-group.input-group--focused .input-group__append-icon, .application--dark .unselected .input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active), .input-group.unselected .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color: white!important;
  opacity: 0.2!important;
}
.input-group.input-group--text-field:not(.input-group--single-line):not(.input-group--error).input-group--focused label {
  color: white;
}
.switch {
  left: 25%;
}
.select, .radio-group--row {
  padding: 0;
}
.application--dark .input-group.radio:not(.input-group--error) label {
  font-size: 13px;
  text-transform: capitalize;
  margin-left: -5px
}
.lowercase {
  text-transform: none!important;
}
#opendata {
  position: absolute;
  bottom: 65px;
  width: 100%;
}
.svg {
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  display: grid;
}
path.line {
  stroke-width: 2px;
  z-index: 1;
}
path.line.hover {
  stroke-width: 5px;
  z-index: 5;
}
.axis path, .axis line {
  stroke: grey;
}
.axis text {
  fill: grey;
  font-size: 14px;
  font-family: Roboto;
}
.legend.facets {
  padding: 15px;
}
.legend .btn {
  color: black!important;
  font-weight: bold;
  min-width: 125px;
  padding: 2px;
  height: 50px;
}
.legend .btn div {
  display: grid;
}
.legend .btn div.btn__content {
  margin: 0 8px;
}
.legend .btn .remove {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 4;
}
.legend .btn .remove .icon {
  font-size: 18px;
  color: black!important;
}
.legend.multiples {
  position: relative;
}
.legend.multiples .btn {
  position: absolute;
  left: 5px;
  height: auto;
  min-width: auto;
  border: 1px solid #303030;
  opacity: 1;
  padding: 2px 25px 2px 5px;
}
.legend.multiples .btn.inactive {
  padding: 2px 5px;
}
rect.tooltip {
  fill: black;
  fill-opacity: 0;
}
.tooltipBox {
  background: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  display: none;
  min-width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  font-size: 14px;
  z-index: 1000;
}
.dialog a, .dialog a:visited {
  color: #999;
  text-decoration: none;
}
.dialog a:hover, .dialog a:visited:hover {
  text-decoration: underline;
}
