<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Coronavirus country comparator</title>

  <link rel="shortcut icon" href="favicon.ico">

  <link href="css/roboto.css" rel="stylesheet">
  <link href="css/vuetify.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <meta property="og:title" content="Coronavirus country comparator" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://boogheta.github.io/coronavirus-countries/" />
  <meta property="og:image" content="https://boogheta.github.io/coronavirus-countries/img/screenshot.png"/>
  <meta property="og:description" content="Compare the spread of the COVID-19 coronavirus in all countries by numbers of confirmed cases, recovered ones, deceased and still sick persons as reported by JHU"/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@boogheta">
  <meta name="twitter:creator" content="@boogheta">
  <meta name="twitter:title" content="Coronavirus country comparator">
  <meta name="twitter:description" content="Compare the spread of the COVID-19 coronavirus in all countries by numbers of confirmed cases, recovered ones, deceased and still sick persons as reported by JHU">
  <meta name="twitter:image" content="https://boogheta.github.io/coronavirus-countries/img/screenshot.png">
 </head>
 <body>
  <noscript><strong>Coronavirus country comparator requires JavaScript. Please enable it to continue.</strong></noscript>
  <div id="corona"><v-app dark toolbar>
    <aside class="navigation-drawer navigation-drawer--absolute navigation-drawer--clipped navigation-drawer--is-booted navigation-drawer--is-mobile navigation-drawer--open navigation-drawer--permanent">
      <v-list dense id="controls">

        <v-subheader class="mt-2">Cases</v-subheader>
        <v-list-tile
          v-for="item in cases"
          :key="item.id"
          :class="{'unchecked': !item.selected}"
          @click="selectCase(item.id)"
        >
          <v-list-tile-content>
            <v-list-tile-title>
              <span class="country">{{ item.id }}</span>
              <span class="value amount">{{ item.total }}</span>
            </v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch light v-model="item.selected" color="white"></v-switch>
          </v-list-tile-action>
        </v-list-tile>

        <v-subheader class="bordered mt-2">Scale</v-subheader>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>timeline</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
              :class="{'switcher': true, 'value': true, 'unchecked': logarithmic}"
              @click="logarithmic = false"
            >linear</v-list-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch light v-model="logarithmic" color="white"></v-switch>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
              :class="{'switcher': true, 'unchecked': !logarithmic}"
              @click="logarithmic = true"
            >logarithmic</v-list-title>
          </v-list-tile-content>
        </v-list-tile>

<!--
        <v-subheader class="bordered mt-2">Compare as</v-subheader>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>view_module</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
              :class="{'switcher': true, 'value': true, 'unchecked': compare}"
              @click="compare = false"
            >series</v-list-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch light v-model="compare" color="white"></v-switch>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
              :class="{'switcher': true, 'unchecked': !compare}"
              @click="compare = true"
            >small multiples</v-list-title>
          </v-list-tile-content>
        </v-list-tile>
-->

        <v-subheader class="bordered mt-2">Countries</v-subheader>
        <v-list-tile class="sort">
          <v-list-tile-content>
            <v-list-tile-title>
              <small
                :class="{'country': true, 'unchecked': countriesOrder !== 'names'}"
                @click="countriesOrder = 'names'"
              >sort by name</small>
              <small
                :class="{'value': true, 'unchecked': countriesOrder !== 'cases'}"
                @click="countriesOrder = 'cases'"
              >sort by cases</small>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list dense id="countries">
        <v-list-tile
          v-for="item in countries"
          :key="item.id"
          :class="{'unchecked': !item.selected}"
        >
          <v-list-tile-content>
            <v-list-tile-title>
              <span class="country">{{ item.name }}</span>
              <span class="value amount">{{ item.lastStr }}</span>
            </v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch light v-model="item.selected" color="white"></v-switch>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>

      <v-list dense id="opendata">
        <v-subheader class="mt-2">Open Data</v-subheader>
        <v-list-tile @click="exportData()">
          <v-list-tile-action><v-icon>file_download</v-icon></v-list-tile-action>
          <v-list-tile-content><v-list-tile-title>Download the data</v-list-tile-title></v-list-tile-content>
        </v-list-tile>
      </v-list>

      <div class="navigation-drawer__border"></div>
    </aside>

    <v-toolbar class="dark" fixed>
      <v-toolbar-title>
        <img src="img/covid19.png" alt="COVID19" width=50 />
        <v-title>Coronavirus country comparator<br/>
        <span class="update">(last data update: {{ lastUpdateStr }})</span></v-title>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn fab small class="ml-3" @click.native.stop="help = true">
        <v-icon>help</v-icon>
      </v-btn>
    </v-toolbar>

    <main>
      <div class="svg" style="height: 6000px"></div>
      <center><div id="legend" class="legend facets">
        <div
          v-for="item in (legend.length ? legend : no_country_selected)"
          v-if="item.selected"
          :class="{'btn': true, 'btn--raised': true, 'btn--disabled': item.inactive}"
          :style="{'background-color': item.color+'!important'}"
          @mouseover="document.getElementById(item.id).classList.add('hover')"
          @mouseleave="document.getElementById(item.id).classList.remove('hover')"
        >
          <div class="remove"
            v-if="!item.inactive"
            title="click to remove"
            @click="item.selected = false"
          >
            <v-icon>highlight_off</v-icon>
          </div>
          <div class="btn__content">
            <span>{{ item.name }}</span>
            <span class="lowercase amount">{{ item.value !== null ? item.value : item.lastStr }}</span>
          </div>
        </div>
      </div></center>
    </main>

    <div class="tooltipBox"><center><b>{{ hoverDate }}</b></center></div>

    <v-dialog v-model="help" width="33%">
      <v-card>
        <v-card-title class="headline">Coronavirus country comparator</v-card-title>
        <v-card-text>Hover the legend to focus a specific country's curve.<br/>Hover the plot to see each country's values at specific dates.<br/>Use the moose wheel to zoom or unzoom on specific time periods.</v-card-text>
        <v-card-text>Built on top of the <a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series" target="_blank">data openly released daily</a> by the <a href="https://systems.jhu.edu/" target="_blank">Center for Systems Science and Engineering (CSSE)</a> at Johns Hopkins University (JHU) for the <a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" target="_blank">great dashboard</a> they built.</v-card-text>
        <v-card-text>This web application is a free libre open source software released under AGPL V3 license and its source code is <a href="https://github.com/boogheta/coronavirus-countries" target="_blank">available on GitHub</a>. The interface is based on <a href="https://vuejs.org" target="_blank">Vue.js</a>, <a href="https://vuetifyjs.com/" target="_blank">Vuetify.js</a> and <a href="https://d3js.org" target="_blank">D3.js</a>. The logo is a <a href="https://pixabay.com/fr/illustrations/virus-coronavirus-sars-cov-2-flash-4915867/" target="_blank">creation from Alexei Hulsov</a> openly released under the <a href="https://pixabay.com/fr/service/license/" target="_blank">Pixabay license</a>.</v-card-text>
        <v-card-text>Bug reports, contributions and pull requests are very welcome!</v-card-text>
        <v-card-text>You can contact me on Twitter at: <a href="http://twitter.com/boogheta" target="_blank">@boogheta</a></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="white--text darken-1" flat @click.native="help = false">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app></div>

  <script type="text/javascript" src="js/d3.v4.min.js"></script>
  <script type="text/javascript" src="js/vue.min.js"></script>
  <script type="text/javascript" src="js/vuetify.min.js"></script>
  <script type="text/javascript" src="js/corona.js"></script>
 </body>
</html>
